.sy-button{
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin: 0;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 14px;
}

.sy-button-primary{
    background: #3FAAF5;
    border: 1px solid #3FAAF5;
    color: #fff;
}

.sy-button-success {
    background: #13ce66;
    border: 1px solid #13ce66;
    color: #fff;
}

.sy-button-medium{
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.sy-button-small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
}